.faqTitle {
  color: #10464c;
  font-weight: bold;
  border-style: solid;
  margin: 20;
}

.faqIcon {
  margin-right: 55%;
}

.questionStyle {
  color: #505050;
  font-weight: bold;
  font-size: 19px;
}

.answerStyle {
  font-style: oblique;
  font-size: 18px;
  margin: 20px;
}
