// .faqTitle {
//   color: #10464c;
//   font-weight: bold;
//   border-style: solid;
//   margin: 20;
// }

// .faqIcon {
//   margin-right: 55%;
// }

.questionStyle {
  color: #505050;
  font-weight: bold;
  font-size: 140%;
}

.answerStyle {
  font-style: oblique;
  font-size: 120%;
  margin: 20px;
}

.faqTitle {
  margin: 30px;
}
