.faqTitle {
  color: #10464c;
  font-family: BebasNeue;
  font-weight: bold;
  border-style: solid;

  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.questionStyle {
  color: #000000;
  font-weight: bold;
  font-family: BebasNeue;
  font-size: 19px;
}

.answerStyle {
  font-family: BebasNeue;
  font-style: oblique;
  font-size: 18px;
  margin: 20px;
}
