/* Navigation
  =============== */

ul.nav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  li.homeTab {
    float: left;
  }
  li.loginTab {
    float: right;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    text-decoration: none;
  }
}
